<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <h2> </h2>
    </div>
    <hr>
   
  
    <div class="container">
    <h2>FDACE</h2>
   
      <div class="card" style="width:400px">
       
      <div class="card-body ">
        <form action="/upload" method="post" enctype="multipart/form-data">
        <p class="card-text">Choose a file to upload it to AWS S3</p>
          <input type="file" name="file" value="file">
          <hr>
        <input type="submit" name="upload" value="Upload" class="btn btn-success">
        </form>
        {{msg}}
      </div>
    </div>
    <br>
  
    <div>
        <img src="static/images/Lambda SNS.png">
    </div>
  </div>
  
  
  </body>
  
  </html>