h1{
    color: black;
    text-align: center;
    }
p{
    color: black;
    text-align: center;
    }
li {
        display: block;
    padding: 8px;
    }
ul {
    background-color: pink;
    color:black;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
    position: static;
    overflow: auto;
    }