<!DOCTYPE html>
<html>

<head>
    <title> Attendance Protocol</title>
    <link rel="stylesheet" href="style.css">
      
</head>

<body style="color:blanchedalmond">
    <ul id="nav">
        <li style="float: left;"><a href="index.html">Home</a></li>
        <li style="float: left;"><a href="info.html">Info</a></li>
        <li style="float: left;"><a href="image.html">Enter Your image</a></li>
      </ul>
      <br>
    <h1> Welcome to Our Attendance Protocol</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <p class="mt-5">Live Streaming</p>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
    </body>


</html>